$font-size-base: 16px;
$font-size-h1: 2rem;
$font-size-h2: 1.6rem;
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$color-text-base: #444;
$color-accent: #696969;
$color-primary: #DCDCDC;
$color-secondary: #FFF;
$color-error: #FF6B6B;

$breakpoint-xl: 1400px;
$breakpoint-lg: 1024px;
$breakpoint-sm: 576px;

$input-height: 40px;
